<%= current_user.email %>
<div class="stats">
  <a href="<%= following_user_path(current_user) %>">
    <strong id="following" class="stat">
      <%= current_user.followed_users.count %>
    </strong>
    关注
  </a>
  <a href="<%= followers_user_path(current_user) %>">
    <strong id="followers" class="stat">
      <%= current_user.followers.count %>
    </strong>
    粉丝
</a> </div>

<%= form_for(@micropost) do |f| %>
  <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  <%= f.submit "Post" %>
<% end %>

<ul>
  <% @users.each do |user| %>
    <li>
      <span><%= user.email%></span>
      <% if current_user.following?(user) %>
        <%= form_for(current_user.relationships.find_by(followed_id: user),
                   html: { method: :delete }) do |f| %>
          <%= f.submit "Unfollow", class: "btn btn-large" %>
        <% end %>
      <% else %>
        <%= form_for(current_user.relationships.build(followed_id: user.id)) do |f| %>
          <div><%= f.hidden_field :followed_id %></div>
          <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="list">
  <% if @microposts.any? %>
    <h3>Microposts (<%= @microposts.count %>)</h3>
    <ul class="microposts">
      <% @microposts.each do |micropost|%>
        <li>
          <%= micropost.user.email %>
          <%= micropost.content%>
          <% if micropost.user == current_user %>
            <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" },title: micropost.content %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= link_to "退出", destroy_user_session_path, method: :delete%>

<style type="text/css">
  .list {
    float: right;
  }
</style>